.subscribe {
  margin: 0;
  padding-left: 0;
  font-size: 19px;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}

.subscribe li {
  width: 50%;
  float: left;
  margin-right: 10px;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.subscribe li a {
  padding-left: 25px;
  background-repeat: no-repeat;
  background-size: 21px 21px;
  line-height: 30px;
}

.subscribe li a.feed {
  background-image: url("/images/icons/icon-rss.svg");
}
