{% extends "digital-land-frontend/dlf-base.html" %}
{% block dlMetaTemplate %}<meta name="dl-template" content="content-base.html">{% endblock %}

{% block pageTitle %}
{{ pageContent.pageTitle if pageContent.pageTitle else pageContent.title + " - Digital Land"}}
{% endblock %}

{% block dlHead %}
<link rel="stylesheet" href="stylesheets/feed.css">
{%- if pageContent.frontmatter.external_url is defined %}
<!-- redirect to {{pageContent.frontmatter.external_url}} -->
<meta http-equiv="Refresh" pageContent="0; url='{{pageContent.frontmatter.external_url}}'" />
{% endif -%}
{% endblock dlHead %}

{% block beforeContent %}
  {% if pageContent and 'retired' in pageContent and pageContent.retired %}
    {% include 'digital-land-frontend/partials/dl-prototype-banner.html' %}  
  {% endif %}
  {% block dl_breadcrumbs %}
  {{ govukBreadcrumbs({
    "items": breadcrumbs
  }) }}
  {% endblock %}
{% endblock %}

