{% extends "content-base.html" %}

{%- block dlHead -%}
{{ super() }}
{% if pageContent.frontmatter.author %}
<meta name="author" content="{{ pageContent.frontmatter.author }}">
{% endif -%}
{%- endblock -%}

{% block content %}
{% if pageContent.section %}
<span class="govuk-caption-xl">{{ pageContent.section }}</span>
{% endif %}
<h1 class="govuk-heading-xl">{{ pageContent.title }}</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if pageContent.frontmatter.author %}
    <p class="govuk-body govuk-hint govuk-!-margin-bottom-6">{{ pageContent.frontmatter.author }} &mdash; {{ pageContent.frontmatter.date }}</p>
    {% endif %}
    {%- if pageContent.lede %}<p class="govuk-body-l">{{ pageContent.lede }}</p>{% endif -%}
    {{ pageContent.content|markdown|safe }}
  </div>
</div>

{% endblock %}
